/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  text-align: center;
  
}

.game-container {
  display: none;
}

#overlay {
  display: flex;
  flex-direction: column;
  
  color: #FFFFFF;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  background-image: url('../science-background.jpg');
  background-blend-mode: multiply;
}

.section {
  width: 100%;
  padding: 10px;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin: 0;
}

.btn__reset {
  padding: 15px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.start a {
  color: black;
}